/* BASE */
body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#050505;
    color:white;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:#0a0a0a;
    border-bottom:1px solid #ff000020;
}

.nav-links a{
    text-decoration:none;
    color:white;
    opacity:0.7;
    transition:0.3s;
}

.nav-links a:hover{
    opacity:1;
    color:#ff0033;
}

.logo{
    font-weight:bold;
    font-size:22px;
    letter-spacing:3px;
    color:#ff0033;
}

/* MENU */
.nav-links{
    display:flex;
    list-style:none;
    gap:25px;
}

.nav-links li{
    cursor:pointer;
    opacity:0.7;
    transition:0.3s;
}

.nav-links li:hover{
    opacity:1;
    color:#ff0033;
}

/* LOGIN / REGISTRO */
.auth{
    display:flex;
    gap:10px;
}

.login{
    background:transparent;
    border:1px solid #ff0033;
    color:white;
    padding:8px 14px;
    cursor:pointer;
    transition:0.3s;
}

.login:hover{
    background:#ff0033;
}

.signup{
    background:#ff0033;
    border:none;
    color:white;
    padding:8px 14px;
    cursor:pointer;
    box-shadow:0 0 15px #ff003344;
}

/* HERO */
.hero{
    text-align:center;
    padding:140px 20px;
}

.hero h1{
    font-size:70px;
    color:#ff0033;
    letter-spacing:6px;
    text-shadow:0 0 20px #ff003355;
}

.hero p{
    opacity:0.7;
    margin-top:-10px;
}

.main-btn{
    margin-top:25px;
    padding:12px 28px;
    background:#ff0033;
    border:none;
    color:white;
    cursor:pointer;
    font-weight:bold;
    border-radius:8px;
    box-shadow:0 0 25px #ff003355;
    transition:0.3s;
}

.main-btn:hover{
    transform:scale(1.05);
}